:root {
  --color-background-dark: rgb(45, 50, 54);
  --color-docs-dark: rgb(53, 59, 61);

  --color-button-white: rgb(240, 242, 244);
  --color-button-dark: rgb(80, 82, 86);
  --color-button-hover: black;

  --title-color-white: rgb(235, 230, 225);
  --text-color-white: rgb(235, 230, 225);

  --app-height: 85vh;
  --docs-margin: 20px;
  --docs-padding: 12pt;

  --btn-height-move: 150px;
}

.alarm-ui-8f8894ba7a1f5c7a94a170b7dc841190 {
  display: none;
  position: fixed;
  top: 3px;
  right: 3px;
  background-color: white;

  padding: 3px 5px 3px 5px;

  z-index: 2147483647;
}

.alarm-ui-8f8894ba7a1f5c7a94a170b7dc841190.show-8f8894ba7a1f5c7a94a170b7dc841190 {
  display: block;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190.show-8f8894ba7a1f5c7a94a170b7dc841190 {
  transform: scale(1);
  transition: transform 0.7s;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190 {
  position: fixed;
  z-index: 2147483646;

  transform: scale(0);
  transition: transform 0.7s;

  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  width: 440px;
  right: 0;

  background-color: var(--color-background-dark);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-top-8f8894ba7a1f5c7a94a170b7dc841190 {
  position: absolute;

  top: 0px;
  width: 100%;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-top-8f8894ba7a1f5c7a94a170b7dc841190:hover {
  cursor: n-resize;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-top-8f8894ba7a1f5c7a94a170b7dc841190
  .visible-8f8894ba7a1f5c7a94a170b7dc841190 {
  width: 40%;
  height: 9px;

  border-radius: 10px;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-top-8f8894ba7a1f5c7a94a170b7dc841190:hover
  .visible-8f8894ba7a1f5c7a94a170b7dc841190 {
  background-color: rgb(163, 163, 163);
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-bottom-8f8894ba7a1f5c7a94a170b7dc841190 {
  position: absolute;

  bottom: 0px;
  width: 100%;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-bottom-8f8894ba7a1f5c7a94a170b7dc841190:hover {
  cursor: n-resize;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-bottom-8f8894ba7a1f5c7a94a170b7dc841190
  .visible-8f8894ba7a1f5c7a94a170b7dc841190 {
  width: 40%;
  height: 9px;

  border-radius: 10px;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-bottom-8f8894ba7a1f5c7a94a170b7dc841190:hover
  .visible-8f8894ba7a1f5c7a94a170b7dc841190 {
  background-color: rgb(163, 163, 163);
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-left-8f8894ba7a1f5c7a94a170b7dc841190 {
  position: absolute;

  left: 0px;
  width: 20px;
  height: 94%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-left-8f8894ba7a1f5c7a94a170b7dc841190:hover {
  cursor: w-resize;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-left-8f8894ba7a1f5c7a94a170b7dc841190
  .visible-8f8894ba7a1f5c7a94a170b7dc841190 {
  width: 9px;
  height: 40%;

  border-radius: 10px;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-left-8f8894ba7a1f5c7a94a170b7dc841190:hover
  .visible-8f8894ba7a1f5c7a94a170b7dc841190 {
  background-color: rgb(163, 163, 163);
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-right-8f8894ba7a1f5c7a94a170b7dc841190 {
  position: absolute;

  right: 0px;
  width: 20px;
  height: 94%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-right-8f8894ba7a1f5c7a94a170b7dc841190:hover {
  cursor: w-resize;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-right-8f8894ba7a1f5c7a94a170b7dc841190
  .visible-8f8894ba7a1f5c7a94a170b7dc841190 {
  width: 9px;
  height: 40%;

  border-radius: 10px;
}

.web-docs-app-8f8894ba7a1f5c7a94a170b7dc841190
  .resize-btn-right-8f8894ba7a1f5c7a94a170b7dc841190:hover
  .visible-8f8894ba7a1f5c7a94a170b7dc841190 {
  background-color: rgb(163, 163, 163);
}
