.web-docs-app ul {
  list-style: none;
}

:root {
  --color-background-dark: rgb(45, 50, 54);
  --color-docs-dark: rgb(53, 59, 61);

  --color-button-white: rgb(240, 242, 244);
  --color-button-dark: rgb(80, 82, 86);
  --color-button-hover: black;

  --title-color-white: rgb(235, 230, 225);
  --text-color-white: rgb(235, 230, 225);

  --app-height: 85vh;
  --docs-margin: 20px;
  --docs-padding: 12pt;

  --btn-height-move: 150px;
}

.web-docs-app ._header {
  display: flex;
  background-color: inherit; /* 기본 header 속성 적용을 막기 위해 필요 */
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;

  position: relative;
}

/* 오른쪽 정렬 방법 */

.web-docs-app .recent-wrapper {
  display: none;

  position: absolute;
  top: 65px;
  left: 10px;
}

.web-docs-app .sel-all,
.web-docs-app .sel-url {
  /* all: unset; */
  cursor: pointer;

  width: 70px;
  height: 30px;
  font-size: 10pt;
  text-align: center;

  background-color: var(--color-button-white);

  /* position: relative;
    left: 126px; */
}

.web-docs-app .sel-all.set,
.web-docs-app .sel-url.set {
  background-color: var(--color-button-dark);
}

.web-docs-app .recent-wrapper.showUp {
  display: block;
}

.web-docs-app .recent-list {
  padding: 0;
  margin: 0;
  max-height: calc(35px * 14);
  overflow-y: scroll;
}

.web-docs-app .recent-list::-webkit-scrollbar {
  width: 10px;
}

.web-docs-app .recent-list::-webkit-scrollbar-thumb {
  background-color: rgb(20, 20, 20);
  border-radius: 2.5px;
}

.web-docs-app .recent-list::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 2.5px;
  box-shadow: inset 0px 0px 5px white;
}

.web-docs-app .recent-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(238, 238, 238);
  border: 1px solid black;

  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.web-docs-app .recent-list li:hover {
  background-color: rgb(98, 97, 102);
  cursor: pointer;
}

/* inline el width */

.web-docs-app .recent-list .item-title {
  display: inline-block;
  width: 150px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.web-docs-app .recent-list .item-update {
  display: inline-block;
  width: 100px;

  text-align: right;
  font-size: 12px;
}

.web-docs-app .title-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.web-docs-app #logo {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;

  margin: 0;
}

.web-docs-app #logo:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app .title {
  font-size: 18.5px;
  color: var(--title-color-white);

  display: inline-block;
  padding: 0px 8px 1px 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  max-width: 200px;
  min-width: 5px;
  background-color: inherit;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.web-docs-app .title:hover {
  /* border: 2px solid rgba(209, 209, 209, 0.4); */
}

.web-docs-app #createBtn {
  height: 20px;
  margin-left: 10px;
}

.web-docs-app #createBtn:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app #deleteBtn {
  height: 20px;
  margin-left: 10px;
}

.web-docs-app #deleteBtn:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app #starBtn {
  height: 20px;
  margin-left: 10px;
}

.web-docs-app #starBtn:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app #starBtn.stared {
  filter: brightness(90%);
}

.web-docs-app #starBtn.stared:hover {
  filter: brightness(90%);
}

.web-docs-app #closeBtn {
  height: 16px;
}

.web-docs-app #closeBtn:hover {
  filter: brightness(0%);
  cursor: pointer;
}
