body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  padding: 10px 30px 0px 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 100px;
}

* {
  -webkit-user-select: none;
  user-select: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;

  list-style: none;
}

a:visited {
  color: #4b70fd;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 20px;

  width: 750px;
}

.logo-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 15px;

  width: 100%;
}

.logo-wrapper > a {
  justify-self: center;
  color: #000;
}

.logo {
  margin: 0;
  padding: 0;
  justify-self: center;
}

#createBtn {
  justify-self: flex-start;
  position: relative;
  top: 2.5px;
  left: 104px;

  cursor: pointer;
}

#createBtn:hover {
  filter: brightness(0);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.navbar {
  display: flex;

  font-size: 12pt;
}

.navbar li {
  padding-left: 5px;
}

.navbar button {
  width: 105px;
  height: 40px;

  font-size: 11pt;
}

.search-wrapper {
  display: flex;
  align-items: center;

  width: 270px;
  height: 40px;
  background-color: rgb(224, 225, 226);
}

#searchBtn {
  width: 15px;
  height: 15px;
  margin-left: 15px;
  margin-right: 10px;
}

.search {
  all: unset;
  width: 220px;
  height: 40px;
}

.note-list {
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(179, 179, 179);

  position: relative;

  width: 750px;
  height: 48px;
  cursor: pointer;
}

.note:hover {
  background-color: rgb(182, 185, 192);
  /* border-radius: 30px; */
}

.note-title {
  font-size: 14.5px;
  width: 300px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.note-time {
  width: 70px;
}

.note-url {
  display: inline-block;
  line-height: 48px;
  width: 255px;
  height: 100%;
  color: rgb(75, 75, 75);

  padding: 0 10px 0 10px;
  border-radius: 7px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.note-url:hover {
  background-color: rgb(114, 114, 114);
  color: white;
}

.option-btn {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 5px;

  border-radius: 20px;
}

/* border-radius 가 size에 미치는 영향 */

.option-btn:hover {
  background-color: rgb(143, 143, 143);
  /* background-color: rgb(85, 85, 85); */
}

.option-btn img {
  height: 12px;
  filter: brightness(1);
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 48px;

  visibility: hidden;

  background-color: rgb(200, 205, 210);
  width: 100px;
  height: 48px;
  border: 1px solid black;
  border-radius: 10px;

  font-size: 14.5px;

  z-index: 10;
}

.delete img {
  height: 20px;
}

.delete.show {
  visibility: visible;
}

.delete:hover {
  background-color: rgb(182, 185, 192);
  color: rgb(223, 223, 223);
}

.star-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
  cursor: pointer;
}

#starBtn {
  height: 20px;
}

.star-btn-wrapper:hover > #starBtn {
  filter: brightness(0%);
}

#starBtn.stared:hover {
  filter: brightness(100%);
  cursor: pointer;
}
