:root {
  --color-background-dark: rgb(45, 50, 54);
  --color-docs-dark: rgb(53, 59, 61);

  --color-button-white: rgb(240, 242, 244);
  --color-button-dark: rgb(80, 82, 86);
  --color-button-hover: black;

  --title-color-white: rgb(235, 230, 225);
  --text-color-white: rgb(235, 230, 225);

  --app-height: 85vh;
  --docs-margin: 20px;
  --docs-padding: 12pt;

  --btn-height-move: 150px;
}

body {
  padding: 0;
  margin: 0;
}

.web-docs-app {
  transform: scale(1);

  min-width: calc(440px / 0.95);
  width: calc(100% - 42px);
  height: calc(100% - 42px);

  padding: 20px;
  border-radius: 0px;

  display: flex;
  position: fixed;

  left: 0;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-background-dark);

  font-family: Arial;
}

header {
  padding-bottom: 21px;
}

.web-docs-app .title {
  font-size: 20pt;

  width: 500px;
  max-width: 500px;
}

/* position: absolute vs fixed 컨테이닝 블록 */

@media screen and (min-width: 760px) {
  .web-docs-app header,
  .web-docs-app .docs-wrapper {
    width: 680px;
  }
}

@media screen and (max-width: 760px) {
  .web-docs-app header,
  .web-docs-app .docs-wrapper {
    width: 95%;
    min-width: 440px;
  }
}

/* 미디어 쿼리 공부
https://developer.mozilla.org/ko/docs/Learn/CSS/CSS_layout/Media_queries
*/
