/* 에스코어드림, Noto Sans : 중요 : 타국가 지원
  */

@font-face {
  font-family: "note-sans";
  src: url(chrome-extension://mgffajndabdbnejmehloekjclmaikagb/fonts/NotoSansKR-Medium.otf)
    format("truetype");
}

ul {
  list-style: none;
}

:root {
  --color-background-dark: rgb(45, 50, 54);
  --color-docs-dark: rgb(53, 59, 61);

  --color-button-dark: rgb(80, 82, 86);
  --color-button-hover: black;

  --title-color-white: rgb(235, 230, 225);
  --text-color-white: rgb(235, 230, 225);

  --app-height: 85vh;
  --docs-margin: 20px;
  --docs-padding: 12pt;
}

.web-docs-app header {
  all: initial;
}

/* all: initial 일 때 contenteditable 이 안됨. */

/* transform 정리 */

.web-docs-app.show {
  transform: translateX(-520px);
  transition: transform 0.8s;
}

.web-docs-app {
  position: fixed;
  top: 50%;
  z-index: 2147483647;

  transform: translate(0, 0);
  transition: transform 0.8s;

  display: flex;
  flex-direction: column;
  top: 0;
  right: -520px;
  bottom: 0;
  width: 440px;

  background-color: var(--color-background-dark);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;

  /* font-family: note-sans; */
  font-family: Arial;
}

.web-docs-app header {
  display: flex;
  background-color: inherit; /* 기본 header 속성 적용을 막기 위해 필요 */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;

  position: relative;
}

.web-docs-app .recent-list {
  display: none;

  position: absolute;
  top: 40px;
  left: 58px;

  max-height: 500px;
  overflow-y: scroll;
}

.web-docs-app .recent-list::-webkit-scrollbar {
  width: 10px;
}

.web-docs-app .recent-list::-webkit-scrollbar-thumb {
  background-color: rgb(20, 20, 20);
  border-radius: 5px;
}

.web-docs-app .recent-list::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}

.web-docs-app .recent-list.showUp {
  display: block;
}

.web-docs-app .recent-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(190, 189, 189);
  border: 1px solid black;

  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.web-docs-app .recent-list li:hover {
  background-color: rgb(98, 97, 102);
  /* border-radius: 10px; */
  cursor: pointer;
}

/* inline el width */

.web-docs-app .recent-list .item-title {
  display: inline-block;
  width: 150px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.web-docs-app .recent-list .item-update {
  display: inline-block;

  width: 100px;

  text-align: right;
  font-size: 12px;
}

.web-docs-app .title-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.web-docs-app #logo {
  /* font-size: 30px; */
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;

  margin: 0;
}

.web-docs-app #logo:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app .title {
  font-size: 18.5px;
  color: var(--title-color-white);

  text-align: center;
  display: inline-block;
  padding: 0px 8px 1px 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  max-width: 350px;
  min-width: 5px;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.web-docs-app .title:hover {
  border: 2px solid rgba(209, 209, 209, 0.4);
}

.web-docs-app #createBtn {
  height: 20px;
  margin-left: 10px;
}

.web-docs-app #createBtn:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app #deleteBtn {
  height: 20px;
  margin-left: 10px;
}

.web-docs-app #deleteBtn:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app #closeBtn {
  height: 16px;
}

.web-docs-app #closeBtn:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app .docs-wrapper {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  background-color: var(--color-docs-dark);
}

.web-docs-app .content {
  padding: var(--docs-padding);
  padding-bottom: 550px;
  margin: 5px;
  height: 100%;
  outline: 0px solid transparent;
  overflow-y: scroll;

  font-size: 12pt;
  color: var(--text-color-white);
}

.web-docs-app .content * {
  color: var(--text-color-white);
  margin-bottom: 5px;
}

.web-docs-app .content img {
  width: 380px;
}

.web-docs-app .content *::selection {
  background: rgba(69, 127, 131, 0.41);
}

.web-docs-app .content::-webkit-scrollbar {
  width: 10px;
}

.web-docs-app .content::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 45);
  border-radius: 5px;
}

.web-docs-app .container::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}

.web-docs-app .white-space {
  display: block;
  height: 100px;
}
