/* 에스코어드림, Noto Sans : 중요 : 타국가 지원
  */

@font-face {
  font-family: "note-sans";
  src: url(chrome-extension://mgffajndabdbnejmehloekjclmaikagb/fonts/NotoSansKR-Medium.otf)
    format("truetype");
}

*:focus {
}

:root {
  --color-background-dark: rgb(45, 50, 54);
  --color-docs-dark: rgb(53, 59, 61);
  /* --color-background-dark: rgb(50, 55, 59);
  --color-docs-dark: rgb(255, 255, 255);
  --color-docs-dark: rgb(151, 156, 161); */

  --color-button-dark: rgb(80, 82, 86);
  --color-button-hover: black;

  --title-color-white: rgb(235, 230, 225);
  --text-color-white: rgb(235, 230, 225);
  /* --text-color-white: black; */

  --app-height: 85vh;
  --docs-margin: 20px;
  --docs-padding: 12pt;
}

div {
  display: block;
  padding: 0;
  margin: 0;
}

/* transform 정리 */

.web-docs-app.show {
  transform: translateX(-520px);
  transition: transform 0.8s;
}

.web-docs-app {
  position: fixed;
  top: 50%;
  z-index: 2147483647;

  transform: translate(0, 0);
  transition: transform 0.8s;

  display: flex;
  flex-direction: column;
  right: -520px;
  top: 0;
  bottom: 0;
  width: 440px;
  background-color: var(--color-background-dark);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;

  /* font-family: note-sans; */
  font-family: Arial;

  animation-duration: 1.2s;
}

.web-docs-app header {
  display: flex;
  background-color: inherit; /* 기본 header 속성 적용을 막기 위해 필요 */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
}

.web-docs-app .title-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.web-docs-app #logo {
  /* font-size: 30px; */
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;

  margin: 0;
}

.web-docs-app #logo:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app .title {
  font-size: 18.5px;
  color: var(--title-color-white);

  text-align: center;
  display: inline-block;
  padding: 0px 8px 1px 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  max-width: 350px;
}

.web-docs-app .title:hover {
  border: 2px solid rgba(209, 209, 209, 0.4);
}

.web-docs-app #createBtn {
  height: 20px;
  margin-left: 10px;
}

.web-docs-app #createBtn:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app #deleteBtn {
  height: 20px;
  margin-left: 10px;
}

.web-docs-app #deleteBtn:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app #closeBtn {
  height: 16px;
}

.web-docs-app #closeBtn:hover {
  filter: brightness(0%);
  cursor: pointer;
}

.web-docs-app .docs-wrapper {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  background-color: var(--color-docs-dark);
}

.web-docs-app .content {
  padding: var(--docs-padding);
  padding-bottom: 550px;
  margin: 5px;
  height: 100%;
  outline: 0px solid transparent;
  overflow: scroll;
  overflow-x: hidden;

  font-size: 12pt;
  color: var(--text-color-white);
}

.web-docs-app .content * {
  color: var(--text-color-white);
  margin-bottom: 5px;
}

.web-docs-app .content img {
  width: 380px;
}

.web-docs-app .content *::selection {
  background: rgba(69, 127, 131, 0.41);
}

.web-docs-app .content::-webkit-scrollbar {
  width: 10px;
}

.web-docs-app .content::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 45);
  border-radius: 5px;
}

.web-docs-app .container::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}

.web-docs-app .white-space {
  display: block;
  height: 100px;
}
