@import url("note.css");

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* font-family: bemin_dohun; */

  background-color: rgb(200, 205, 210);
  padding-left: 20px;
  padding-top: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a:visited {
  color: #4b70fd;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 25px;
}

header {
  padding-left: 10px;
  padding-bottom: 30px;
}

.note-list {
  padding-left: 30px;
  padding-top: 20px;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(179, 179, 179);

  padding: 0 18px 0 18px;
  width: 700px;
  height: 48px;
  cursor: pointer;
}

.note:hover {
  background-color: rgb(182, 185, 192);
  border-radius: 30px;
}

.note .note-title {
  font-size: 14.5px;
  width: 400px;
}

.note .note-url {
  display: inline-block;
  line-height: 48px;
  width: 195px;
  height: 100%;
  color: rgb(75, 75, 75);

  padding: 0 10px 0 10px;
  border-radius: 23px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.note .note-url:hover {
  background-color: rgb(85, 85, 85);
  color: rgb(184, 184, 184);
}
