/* 에스코어드림, Noto Sans : 중요 : 타국가 지원
  */

@font-face {
  font-family: "bemin_dohun";
  src: url(chrome-extension:///mgffajndabdbnejmehloekjclmaikagb/fonts/NotoSansKR-Medium.otf)
    format("truetype");
}

:root {
  --background-color-dark: rgb(47, 52, 55); /* notion dark color */
  --text-color-white: aliceblue;

  --app-height: 90vh;
  --docs-margin: 20px;
  --docs-padding: 12px;
}

.web-docs-app {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2147483647;

  display: flex;
  flex-direction: column;
  width: 500px;
  height: var(--app-height);
  color: var(--text-color-white);
  background-color: var(--background-color-dark);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;

  font-family: bemin_dohun;
}

.web-docs-app header {
  display: flex;
  background-color: inherit; /* 기본 header 속성 적용을 막기 위해 필요 */
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}

.web-docs-app .title-wrapper {
  display: flex;
  flex-direction: row;
}

.web-docs-app #logo {
  font-size: 30px;
  color: rgb(110, 110, 110);
  padding-left: 10px;
  padding-right: 10px;
}

.web-docs-app .title {
  font-size: 18.5px;
  text-align: center;
  display: inline-block;
  padding: 3px 8px 1px 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  max-width: 350px;
}

.web-docs-app .title:hover {
  border: 2px solid rgba(209, 209, 209, 0.4);
}

.web-docs-app .exitBtn {
  background-color: rgb(19, 19, 19);
  width: 20px;
  height: 20px;
}

.web-docs-app .docs-wrapper {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  background-color: rgb(52, 58, 60);
}

.web-docs-app .docs {
  font-size: 16px;
  padding: var(--docs-padding);
  margin: 5px;
  height: 100%;
  outline: 0px solid transparent;
  background-color: rgb(52, 58, 60);
  overflow: scroll;
  overflow-x: hidden;
}

.web-docs-app .docs::-webkit-scrollbar {
  width: 10px;
}

.web-docs-app .docs::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 45);
  border-radius: 5px;
}

.web-docs-app .container::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}

.web-docs-app .docs div {
  margin-bottom: 14px;
}
